# House Prices Competition : Term Project

### Importing Libraries:

In [1312]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import linear_model
from sklearn.decomposition import PCA
from sklearn.metrics import mean_squared_error
from sklearn import neighbors
from sklearn.neural_network import MLPRegressor
from sklearn.tree import DecisionTreeRegressor
import warnings
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn #ignore annoying warning (from sklearn and seaborn)

import matplotlib.pyplot as plt
plt.style.use(style='ggplot')
plt.rcParams['figure.figsize'] = (10, 6)

In [1313]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.linear_model import ElasticNet, Lasso,  BayesianRidge, LassoLarsIC
from sklearn.kernel_ridge import KernelRidge
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor
import lightgbm as lgb

In [1314]:
# getting data from feature engineering notebook
%store -r train_set_1
%store -r test_set_1
%store -r ytrain_1

train_set = train_set_1
test_set = test_set_1

In [1315]:
train_set.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,...,SaleType_Con,SaleType_ConLD,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,Street_Grvl,Street_Pave,SalePrice
0,856,854,0,0,3,706.0,0.0,1.0,0,150.0,...,0,0,0,0,0,0,1,0,1,208500
1,1262,0,0,0,3,978.0,0.0,0.0,1,284.0,...,0,0,0,0,0,0,1,0,1,181500
2,920,866,0,0,3,486.0,0.0,1.0,0,434.0,...,0,0,0,0,0,0,1,0,1,223500
3,961,756,0,0,3,216.0,0.0,1.0,0,540.0,...,0,0,0,0,0,0,1,0,1,140000
4,1145,1053,0,0,4,655.0,0.0,1.0,0,490.0,...,0,0,0,0,0,0,1,0,1,250000

In [1316]:
print ("Train data shape:", train_set.shape)

Train data shape: (1452, 292)

In [1317]:
test_set.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,...,SaleType_CWD,SaleType_Con,SaleType_ConLD,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,Street_Grvl,Street_Pave
1452,896,0,0,0,2,468.0,144.0,0.0,0,270.0,...,0,0,0,0,0,0,0,1,0,1
1453,1329,0,0,0,3,923.0,0.0,0.0,0,406.0,...,0,0,0,0,0,0,0,1,0,1
1454,928,701,0,0,3,791.0,0.0,0.0,0,137.0,...,0,0,0,0,0,0,0,1,0,1
1455,926,678,0,0,3,602.0,0.0,0.0,0,324.0,...,0,0,0,0,0,0,0,1,0,1
1456,1280,0,0,0,2,263.0,0.0,0.0,0,1017.0,...,0,0,0,0,0,0,0,1,0,1

In [1318]:
print ("Test data shape:", test_set.shape)

Test data shape: (1459, 291)

## Building the model:

In [1319]:
train_set = train_set.select_dtypes(include=[np.number]).interpolate().dropna()
test_set = test_set.select_dtypes(include=[np.number]).interpolate().dropna()
train_set.head(5)

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,...,SaleType_Con,SaleType_ConLD,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,Street_Grvl,Street_Pave,SalePrice
0,856,854,0,0,3,706.0,0.0,1.0,0,150.0,...,0,0,0,0,0,0,1,0,1,208500
1,1262,0,0,0,3,978.0,0.0,0.0,1,284.0,...,0,0,0,0,0,0,1,0,1,181500
2,920,866,0,0,3,486.0,0.0,1.0,0,434.0,...,0,0,0,0,0,0,1,0,1,223500
3,961,756,0,0,3,216.0,0.0,1.0,0,540.0,...,0,0,0,0,0,0,1,0,1,140000
4,1145,1053,0,0,4,655.0,0.0,1.0,0,490.0,...,0,0,0,0,0,0,1,0,1,250000

In [1322]:
from sklearn import preprocessing

num_columns_train = X_train.select_dtypes(include = ["float64", "int64"]).columns.values.tolist()
num_columns_test = X_test.select_dtypes(include = ["float64", "int64"]).columns.values.tolist()

min_max_train = MinMaxScaler()
min_max_test = MinMaxScaler()

X_train.loc[:,num_columns_train] = min_max_train.fit_transform(X_train[num_columns_train])
X_test.loc[:,num_columns_test] = min_max_test.fit_transform(X_test[num_columns_test])

In [1320]:
y = train_set.SalePrice
X = train_set.drop(['SalePrice'] , axis = 1)

### PCA:

In [1321]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X)                
t_train = scaler.transform(X)
pca_hp = PCA(30)
x_fit = pca_hp.fit_transform(t_train)
np.exp(pca_hp.explained_variance_ratio_)

array([ 1.0736579 ,  1.03167677,  1.02673249,  1.02388912,  1.02276883,
        1.01835787,  1.01627628,  1.01571822,  1.01228126,  1.01219073,
        1.01185539,  1.01121758,  1.01067874,  1.01008473,  1.0099433 ,
        1.00968524,  1.00933974,  1.00924749,  1.00896685,  1.00869479,
        1.00849153,  1.00813234,  1.00806576,  1.00790675,  1.00771103,
        1.00763145,  1.00753788,  1.00732454,  1.00721103,  1.00715475])

train_test_split() returns four objects:

* X_train is the subset of our features used for training.
* X_test is the subset which will be our 'hold-out' set - what we'll use to test the model.
* y_train is the target variable SalePrice which corresponds to X_train.
* y_test is the target variable SalePrice which corresponds to X_test. 

random_state=42 allow reproducible results.

In [1323]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
                                   X, y, random_state=42, test_size=.33)

### Random Forest:

In [1325]:
from sklearn.ensemble import RandomForestRegressor

# Fit Random Forest on Training Set
regressor = RandomForestRegressor(n_estimators=300, random_state=0)
model_random_forest = regressor.fit(X_train, y_train)


# Score model
print ("Test score is: ", model_random_forest.score(X_test, y_test))

Test score is:  0.390415228618

In [1326]:
predictions_1 = model_random_forest.predict(X_test)
print("Mean squared Error : " + str(mean_squared_error(y_test,predictions_1)))

Mean squared Error : 3369430810.8

### KNN:

In [1327]:
# find best k number

ourScore=[]
for nn in range(1,15):
    knn = neighbors.KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                                        metric_params=None, n_jobs=1, n_neighbors=nn,p=2,
                                        weights='uniform')
    knn.fit(X_train, y_train)
    train_score = knn.score(X_train, y_train)
    test_score = knn.score(X_test, y_test)
    #print('k: %d, Train Acc: %.3f, Test Acc: %.3f' % (nn, train_score, test_score))
    rowScore=[nn,train_score,test_score]
    ourScore.append(rowScore)

In [1328]:
k=5
knn = neighbors.KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=k, p=2,
          weights='uniform')
knn.fit(X_train, y_train)
train_score = knn.score(X_train, y_train)
test_score = knn.score(X_test, y_test)

print('k: %d, Train Acc: %.3f, Test Acc: %.3f' % (k, train_score, test_score))

k: 5, Train Acc: 0.835, Test Acc: 0.801

In [1329]:
predictions_2 = knn.predict(X_test)
print("Mean squared Error : " + str(mean_squared_error(y_test,predictions_2)))

Mean squared Error : 1100110439.73

### Linear Regression:

In [1330]:
# Linear Regression
from sklearn.linear_model import LinearRegression 

regressor = LinearRegression() 
regressor.fit(X_train, y_train) 
print ("Test score is: \n", regressor.score(X_test, y_test))

Test score is:
 -1.45799529968e+22

In [1331]:
predictions_3 = regressor.predict(X_test)
print("Mean squared Error : " + str(mean_squared_error(y_test,predictions_3)))

Mean squared Error : 8.05895179041e+31

### Linear Regression with ridge regularization:

In [1332]:
#to check what alpha value is better for the model

for i in range (-5, 5):
    alpha = 10**i
    rm = linear_model.Ridge(alpha=alpha)
    ridge_model = rm.fit(X_train, y_train)
    preds_ridge = ridge_model.predict(X_test)

    plt.scatter(preds_ridge, y_test, alpha=.75, color='b')
    plt.xlabel('Predicted Price')
    plt.ylabel('Actual Price')
    plt.title('Ridge Regularization with alpha = {}'.format(alpha))
    overlay = 'R^2 is: {}\nRMSE is: {}'.format(
                    ridge_model.score(X_test, y_test),
                    mean_squared_error(y_test, preds_ridge))
    plt.annotate(s=overlay,xy=(12.1,10.6),size='x-large')
    #plt.show()

In [1333]:
from sklearn.metrics import mean_squared_error

linm = linear_model.Ridge(alpha = 10)

linm.fit(X_train, y_train)
print ("Test score is: \n", linm.score(X_test, y_test))

Test score is:
 0.849341963816

In [1334]:
predictions = linm.predict(X_test)
print("Mean Squared Error : " + str(mean_squared_error(y_test,predictions)))

Mean Squared Error : 832750181.511

### MLP with PCA:

In [1335]:
#mlp_regressor = MLPRegressor(solver='lbfgs',hidden_layer_sizes = (200,5,5),alpha = 1.0, activation = 'relu', max_iter = 100)
#mlp_regressor.fit(X_train,y_train)

#print ("Test score is: \n", mlp_regressor.score(X_test, y_test))

In [1336]:
#predictions7 = mlp_regressor.predict(X_test1)
#print("Mean Squared Error : " + str(mean_squared_error(y_test,predictions7)))

### Basic Decision tree:

In [1337]:
# Define model
basic_decision_tree = DecisionTreeRegressor()

# Fit model
basic_decision_tree.fit(X, y)

print("R^2 is: \n", basic_decision_tree.score(X_test, y_test))

R^2 is:
 -1.66574246498

In [1338]:
predictions_5 = basic_decision_tree.predict(X_test)
print("Mean Squared Error : " + str(mean_squared_error(y_test,predictions_5)))

Mean Squared Error : 14734677139.0

### XGBoost

In [1339]:
learning_rates = np.arange(0.0, 0.09, 0.0015)
learning_rates
best_learning_rates = [0.0885, 0.0735, 0.0705, 0.0615, 0.06, 0.0585, 0.057, 0.0555]

In [1340]:
# to find best parameters
from xgboost import XGBRegressor

actual_values = y_test

for i in best_learning_rates:
    n_estimators = 1000
    my_model = XGBRegressor(n_estimators=n_estimators,learning_rate=i)
    xgboost_model = my_model.fit(X_train, y_train, early_stopping_rounds=5, 
                 eval_set=[(X_test, y_test)], verbose=False)
    preds_xgboost = xgboost_model.predict(X_test)

    plt.scatter(preds_xgboost, actual_values, alpha=.75, color='b')
    plt.xlabel('Predicted Price')
    plt.ylabel('Actual Price')
    plt.title('XGBoost with  = {}'.format(n_estimators))
    overlay = 'R^2 is: {}\nRMSE is: {}\nlearning Rate is: {}'.format(
                        xgboost_model.score(X_test, y_test),
                        mean_squared_error(y_test, preds_xgboost),
                        i)
    plt.annotate(s=overlay,xy=(12.1,10.6),size='x-large')
    #plt.show()

In [1341]:
# XGBoost
XGBoost = XGBRegressor(n_estimators = 1000,learning_rate=0.0585)
XGBoost.fit(X_train, y_train)


print ("Test Score: \n", XGBoost.score(X_test, y_test))

Test Score:
 0.347757915287

In [1342]:
prediction = XGBoost.predict(X_test)
print("Mean squared Error : " + str(mean_squared_error(y_test,prediction)))

Mean squared Error : 3605215680.42

### Lasso regression:

In [1343]:
# Lasso regression
lasso = make_pipeline(RobustScaler(), Lasso(alpha =0.0005, random_state=1))
lasso.fit(X_train, y_train)
print ("Test Score: \n", lasso.score(X_test, y_test))

Test Score:
 0.809293746395

In [1344]:
predictions_lasso = lasso.predict(X_test)
print("Mean squared Error : " + str(mean_squared_error(y_test,predictions_lasso)))

Mean squared Error : 1054113483.27

### Elastic Net Regression:

In [1345]:
# Elastic Net regression
ENet = make_pipeline(RobustScaler(), ElasticNet(alpha=0.0005, l1_ratio=.9, random_state=3))
ENet.fit(X_train, y_train)
print ("Test Score: \n", ENet.score(X_test, y_test))

Test Score:
 0.823445213817

In [1346]:
predictions_ENet = ENet.predict(X_test)
print("Mean squared Error : " + str(mean_squared_error(y_test,predictions_ENet)))

Mean squared Error : 975892384.925

### Gradient Boosting Regression:

In [1347]:
# Gradient boosting regression
GBoost = GradientBoostingRegressor(n_estimators=3000, learning_rate=0.05,
                                   max_depth=4, max_features='sqrt',
                                   min_samples_leaf=15, min_samples_split=10, 
                                   loss='huber', random_state =5)

GBoost.fit(X_train, y_train)
print ("Test Score: \n", GBoost.score(X_test, y_test))

Test Score:
 0.607182901063

In [1348]:
predictions_GBoost = GBoost.predict(X_test)
print("Mean squared Error : " + str(mean_squared_error(y_test,predictions_GBoost)))

Mean squared Error : 2171264930.34

### Light GBM:

In [1349]:
# LightGBM
model_lgb = lgb.LGBMRegressor(objective='regression',num_leaves=5,
                              learning_rate=0.05, n_estimators=720,
                              max_bin = 55, bagging_fraction = 0.8,
                              bagging_freq = 5, feature_fraction = 0.2319,
                              feature_fraction_seed=9, bagging_seed=9,
                              min_data_in_leaf =6, min_sum_hessian_in_leaf = 11)
model_lgb.fit(X_train, y_train)
print ("Test Score: \n", model_lgb.score(X_test, y_test))

Test Score:
 0.596969332983

In [1350]:
predictions_model_lgb = model_lgb.predict(X_test)
print("Mean squared Error : " + str(mean_squared_error(y_test,predictions_model_lgb)))

Mean squared Error : 2227719606.68

### Avereging Models:

In [1351]:
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone


class AveragingModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, models):
        self.models = models
        
    # we define clones of the original models to fit the data in
    def fit(self, X, y):
        self.models_ = [clone(x) for x in self.models]
        
        # Train cloned base models
        for model in self.models_:
            model.fit(X, y)

        return self
    
    #Now we do the predictions for cloned models and average them
    def predict(self, X):
        predictions = np.column_stack([
            model.predict(X) for model in self.models_
        ])
        return np.mean(predictions, axis=1)

### Enet regression + GBoost + LGBM + Lasso regression (Best Score):

In [1352]:
#Best version
averaged_models = AveragingModels(models = (ENet, GBoost, model_lgb, lasso))

averaged_models.fit(X_train, y_train)
print ("Test Score: \n", averaged_models.score(X_test, y_test))

Test Score:
 0.8248066142

In [1353]:
predictions = averaged_models.predict(X_test)
print("Mean squared Error : " + str(mean_squared_error(y_test,predictions)))

Mean squared Error : 968367353.775

### Making a submission

In [1354]:
submission = pd.DataFrame()
%store -r test_ID
submission['Id'] = test_ID

In [1355]:
feats = test_set.select_dtypes(
        include=[np.number]).interpolate()
feats.shape

(1459, 291)

In [1356]:
predictions = averaged_models.predict(feats)

final_predictions = min_max_train.inverse_transform(predictions)

ValueError: Expected 2D array, got 1D array instead:
array=[  1.21202810e+09   1.65810079e+09   1.44296469e+09 ...,   2.01878442e+09
   1.08306961e+09   1.06561897e+09].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
submission['SalePrice'] = final_predictions
submission.head(5)

In [ ]:
#submission.to_csv("feature_4_submission.csv", index=False)